apiVersion: v1
kind: Service
metadata:
  name: services
  namespace: employee-portal
spec:
  selector:
    app: apache
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP
